# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
*.dSYM

# App output
*.app
*.ipa
